[Unit]
Description=Run budget publisher script
Wants=budgetPublisher.timer

[Service]
ExecStart=/home/ubuntu/deepwaat/backend/.venv/bin/python3 /home/ubuntu/deepwaat/backend/budgetPublisher.py
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/deepwaat/backend


[Install]
WantedBy=timers.target